artifacts/
venv/
ansible-playbooks/kubespray-global-vars.yaml
ansible-playbooks/kubespray/
packer-builds/
devops-practical/repo/
.terraform/

teraform/.terraform.lock.hcl

*.tfstate*
cluster-hosts
.known_hosts
